body{
	background-position: center  top;
	margin: 0px;
	background: #101010;
}
#tudo{
	width: 100%;
	background: #101010;
}
#navegacao{
	background: #34383b;
	height: 100%;
	margin-bottom: 1%
}
#rodape{
	clear: both;
	width: auto;
	height: 90px;
	background: #34383b;
}
#rodape-tudo{
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

.menulist{
	list-style-type: none;
	margin: 0px;
	background-color: #34383b;
	overflow: hidden;
	padding: 1%;
}

.menuitem img {
	float: left;
	width: 20%;
	align-content: center;
	margin-right: 1%;
}
.menuitem {
	display: contents;
	float:left;
	font-size: 15pt;
	margin : 5%;
}

.menuitem .menubutton {
	padding: 2.85% 0%;
	display: inline-block;
	height: 50%;
	width: 20%;
}
.menuitem .menubutton a:hover, .dropdown:hover .dropbutton, .dropdown-content a:hover {
	background-color: #191919;
	color: #00B7C9;
}
.menuitem .menubutton a {
	display: inline;
	text-decoration: none;
	padding: 14% 39%;
	font-size: larger;
	text-align: center;
	color: #EEEEEE;
}
.active {
	background-color: #4CAF50;
	color: #FFFFFF;
}
.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown:hover .dropdown-content {
	display: block;
}