#conteudo1{
	float : left;
	height: 50%;
	width: 60%;
	margin-bottom: 11px;
	margin-left: 19%;
	margin-right: 19%;
	border-radius: 20px;
	padding: 1.5%;
	background-color: #34383b;
	color: #EEEEEE;
}

#conteudo1 img{
	width: 100%;
}

#conteudo1 h1{
	text-align: center;
}
#conteudo2{
	visibility: hidden;
}
#conteudo3{
	visibility: hidden;
}